
WeatherApp/build/tmp/compileJava/previous-compilation-data.bin
WeatherApp/.idea/workspace.xml
WeatherApp/.gradle/buildOutputCleanup/buildOutputCleanup.lock
WeatherApp/.gradle/8.2/fileHashes/resourceHashesCache.bin
WeatherApp/.gradle/8.2/fileHashes/fileHashes.lock
WeatherApp/.gradle/8.2/fileHashes/fileHashes.bin
WeatherApp/.gradle/8.2/executionHistory/executionHistory.lock
WeatherApp/.gradle/8.2/executionHistory/executionHistory.bin
.idea/workspace.xml
